@font-face {
  font-family: 'HaG';
  src: url('../static/fonts/HaG-55Roman.eot');
  src: url('../static/fonts/HaG-55Roman.eot?#iefix') format('embedded-opentype'),
  url('../static/fonts/HaG-55Roman.woff2') format('woff2'),
  url('../static/fonts/HaG-55Roman.woff') format('woff'),
  url('../static/fonts/HaG-55Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HaG-square';
  src: url('../static/fonts/HaG-55Square.eot');
  src: url('../static/fonts/HaG-55Square.eot?#iefix') format('embedded-opentype'),
  url('../static/fonts/HaG-55Square.woff2') format('woff2'),
  url('../static/fonts/HaG-55Square.woff') format('woff'),
  url('../static/fonts/HaG-55Square.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HaG';
  src: url('../static/fonts/HaG-45Light.eot');
  src: url('../static/fonts/HaG-45Light.eot?#iefix') format('embedded-opentype'),
  url('../static/fonts/HaG-45Light.woff2') format('woff2'),
  url('../static/fonts/HaG-45Light.woff') format('woff'),
  url('../static/fonts/HaG-45Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
