/**
*   Variable font sizing depending on screen size
**/
html {
}

/**
*   Global classes
**/

/**
*   General page styles
**/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "HaG", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: contain;
  user-select: none;
}

main {
  flex: 1 0 auto;
}

a {
  text-decoration: none;
  color: inherit;

  &:hover,
  &:focus {
    color: inherit;
    text-decoration: none;
  }
}

input.form-control[type=text] {
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  display: block;
  transition: all 0.3s ease;

  &:focus {
    box-shadow: none;
    border-bottom-color: $primary;
  }
}

.square {
  font-family: "HaG-square", Helvetica, Arial, sans-serif;
}

/*
Swiper
 */

.swiper-container {
  width: 100%;
  height: 100%;

  .swiper-pagination-progressbar {
    position: fixed;
    bottom: 0;
    height: 5px;
    top: auto;
    background: rgba(255, 255, 255, 0.1);

    .swiper-pagination-progressbar-fill {
      background: $primary;
    }
  }
}

.swiper-button-next,
.swiper-button-prev {
  &:focus {
    outline: none;
  }
}

// swiper bugfix
.swiper-container-fade .swiper-slide-active .swiper-slide {
  pointer-events: auto;
}
