/**
*   Section variations
**/

@keyframes intro-title-pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.03);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes start-button-pulse {
  90% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba($primary, 0.3);
  }

  97% {
    transform: scale(1.1);
    box-shadow: 0 0 0 25px rgba($primary, 0);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba($primary, 0);
  }
}

#content {
  display: flex;
  align-items: stretch;

  .section__content {
    width: 100%;
    position: relative;

    & > .swiper-container {
      display: flex;
      align-items: center;

      > .swiper-wrapper {
        align-items: flex-start;

        > .swiper-slide {
          height: auto;
          min-height: 100vh;
        }
      }
    }
  }
}

.section {
  position: relative;

  &--inverted {
    background: #000;
    color: #fff;
  }

  &--fullscreen {
    min-height: 100vh;
  }

  &--overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;

    h1 {
      @include media-breakpoint-up(lg) {
        font-size: 5.5rem;
      }
    }

    .section__background {
      opacity: 0.5;

      svg path {
        will-change: stroke-dasharray;
      }
    }

    h1 {
      //animation: intro-title-pulse 6s ease-in-out infinite;
    }

    #start-button {
      //&:not(:hover):not(:active) {
      //  animation: start-button-pulse 10s infinite;
      //}
    }
  }

  &__background {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    overflow: hidden;
    width: 100%;
    height: 100%;

    svg {
      min-height: 100vh;
      min-width: 100vw;
    }
  }
}
