.answer {
  &--card {
    width: 20rem;
    min-height: 6.25rem;
    color: #fff;
    background: transparent;
    border: 1px solid #fff;
    margin: 15px;
    cursor: pointer;
    transition: all $transition-time-std $transition-easing-std;
    height: auto;

    &:hover {
      background: rgba(#fff, 0.1);
    }

    &--small {
      width: 12rem;
      min-height: 4.25rem;
    }

    &.active {
      background: rgba(#fff, 0.1);
      border-color: $primary;
      transform: scale(0.98);

      .answer__badge {
        opacity: 1;
      }
    }

    .card-body {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .answer__badge {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $primary;
      opacity: 0;
      transition: all $transition-time-std $transition-easing-std;

      .icon {
        font-size: 32px;
        line-height: 1;
      }
    }
  }

  &--text {
    display: block;
    max-width: 400px;
    width: 100%;
  }

  &--range {
    width: 100%;
    display: block;
    max-width: 500px;

    .rc-slider {
      $height: 2px;

      height: 10px + $height;

      &-handle {
        border-color: $primary;
        margin-left: -8px;
        margin-top: -7px;
        width: 16px;
        height: 16px;
        background-color: transparent;
        box-shadow: none;
      }

      &-dot {
        $border: 4px solid #000;

        border: $border;
        bottom: -6px;
        width: 14px;
        height: 14px;
        margin-left: -7px;

        &-active {
          border: $border;
        }
      }

      &-step {
        height: $height;
      }

      &-rail {
        background-color: #fff;
        height: $height;
      }

      &-track {
        height: $height;
        background-color: transparent;
      }

      &-mark {
        font-size: 1rem;

        &-text {
          color: #fff;
        }
      }
    }
  }
}
