.btn {
  transform: scale(1);
  transition: all $transition-time-std+100 $transition-easing-std;

  &[disabled] {
    pointer-events: none;
  }

  &:hover {
    .icon {
      transform: translateX(5px);
    }
  }

  .icon {
    vertical-align: middle;
    display: inline-block;
    line-height: 1;
    font-size: 1.3em;
    margin-left: 0.25em;
    transform: translateX(0);
    transition: transform 360ms ease;
  }

  &-primary {
    color: #000;

    &:hover {
      color: #000;
    }
  }

  &-lg {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
  }

  &-round {
    border-radius: 9999px;
  }

  &--hover-grow {
    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(1.05);
    }
  }

  &--custom {
    position: relative;
    z-index: 0;
    overflow: hidden;

    &::before,
    &::after {
      content: '';
      position: absolute;
      z-index: -2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform-origin: center;
      height: 0;
      width: 105%;
      padding-top: 105%;
      opacity: 1;
      border-radius: 50%;
      transition: all $transition-time-std $transition-easing-std;
    }

    &::after {
      z-index: -1;
      opacity: 0;
      transform: translate(-50%, -50%) scale(0);
    }

    &:not(:disabled):not(.disabled) {
      &:hover,
      &:active {
        &::after {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
      }
    }

    &--outline-primary {
      @extend .btn-outline-primary;

      &::after {
        background: $primary;
      }

      &:not(:disabled):not(.disabled) {
        &:hover,
        &:active {
          background: none;
          color: #000;
        }
      }
    }

    &--primary {
      @extend .btn-primary;

      background-color: transparent !important;

      &:disabled,
      &.disabled {
        color: $gray-400;
        border-color: rgba($primary, 0.5);
      }

      &::before {
        background: rgba($primary, 0.5);
      }

      &::after {
        background: $primary;
      }

      &:not(:disabled):not(.disabled) {
        &::after {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
      }
    }

    &--outline-light {
      @extend .btn-outline-light;

      &::after {
        background: $gray-100;
      }

      &:not(:disabled):not(.disabled) {
        &:hover,
        &:active {
          background: none;
          color: #000;
        }
      }
    }
  }

  &--large-round {
    @extend .btn-lg;
    @extend .btn-round;

    padding-left: 3rem;
    padding-right: 3rem;
    min-width: 168px;
  }
}
