.question {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  transition-timing-function: $transition-easing-std;

  &__content {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-align: center;
    max-width: 65%;
    min-height: 100%;
    padding: 50px 0;
  }

  &__title {
    letter-spacing: 1px;
  }

  &__answers {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    margin-top: 40px;
    position: relative;
    max-width: 100%;

    &.swiper {
      padding: 0 50px;
    }
  }

  &__actions {
    margin-top: 10vh;

    .btn {
      margin: 10px 30px;
    }
  }
}
