.modal--timeout {
  display: block;
  background: rgba(0, 0, 0, 0.75);

  .modal-content {
    background: #000;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.75);
    border-radius: 1rem;
    box-shadow: 0px 0px 25px 1px rgba(255, 255, 255, 0.1);
  }

  .modal-body {
    padding: 3rem;

    .countdown {
      font-size: $h4-font-size;
      min-width: 1.5em;
      display: inline-block;
    }
  }
}
