.page-landing {
  #intro-overlay {
    .languageSelector {
      position: fixed;
      z-index: 2;
      bottom: 20px;
      left: 20px;
    }
  }

  #content {
    .slider-info {
      position: fixed;
      z-index: 2;
      bottom: 20px;
      right: 20px;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      font-size: 1.1em;

      .back,
      .exit {
        .icon {
          vertical-align: middle;
          display: inline-block;
          line-height: 1;
          font-size: 1.3em;
          margin-right: 0.25em;
          transform: translateX(0);
          transition: transform 360ms ease;
        }
      }

      .back {
        &:hover {
          .icon {
            transform: translateX(-5px);
          }
        }
      }
    }
  }
}
