<section class="section section--fullscreen section--inverted d-flex align-items-center">
  <div class="section__content mh-100 col-10 offset-1 d-flex align-items-center justify-content-center">
    <div class="d-inline-block text-center">
      <h1 class="mb-0"><%- error.status %></h1>
      <h2 class="h3"><%- message %></h2>
      <div class="section__actions">
        <a href="/" class="mt-3 btn btn--large-round btn--custom btn--custom--outline-primary mr-0">Zpět na start</a>
      </div>
    </div>
  </div>
</section>
