<!doctype html>
<html lang="<%= locals.locale.langCode.short %>">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no, user-scalable=0">
  <title><%= locals.title %></title>
  <meta name="description" content="<%= locals.copy.metaDescription %>">
  <!-- Cookieconsent -->
  <link rel="preload" href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css" as="style">
  <link rel="stylesheet" href="https://unpkg.com/ionicons@4.4.6/dist/css/ionicons.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#3b3b3b">
  <meta name="theme-color" content="#000000">
</head>
<body class="page-<%= pageName %> <% if(locals.variant){ %>variant--<%- locals.variant.toLowerCase() %><% } %>">
<% include ../partials/header %>
<main>
  <%- body %>
</main>
<% include ../partials/footer %>
<%- defineContent('block__scripts') %>
<script>
  window.count = <%= locals.count %>
</script>
<script src="/js/client.js"></script>
</body>
</html>
